.signin-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#singin {
    color: #0ACF83;
}

#forgot {
    color: #fff;
    text-decoration: none;
    margin: 1.15rem auto 0 auto;
}

.subtitulo {
    margin-bottom: 16rem;
}