* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(public/images/sign-bg.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 0;
}
p {
    text-align: center;
}
#singup {
    color: #0ACF83;
}
.social-container{
    display: flex;
    gap: 1rem;
    margin: 1.5rem auto;
}

.google {
    padding: 0.96806rem 0.95425rem 0.98194rem 0.99575rem;
    border-radius: 0.5875rem;
    background: #FFF;
}
