.body {
    background: #FFF;
    min-height: 100vh;
    min-width: 320px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.home {
    padding: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  
    margin-bottom: 3.5rem;
}

.titulo {
    color: var(--colors-default, #000);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    max-width: 20ch;
}

.subtitulo {
    color: var(--colors-default, #000);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
    letter-spacing: 0.0125rem;
}

.inputs {
    box-sizing: border-box;
    display: flex;
    border-radius: 0.625rem;
    border: 1px solid #BABABA;
    background: #FFF;
    padding: .85rem;
    gap: 0.75rem;
    width: 100%;
    align-items: center;
}

input {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    text-align: start;
    border: none;
    color: var(--colors-grey, #BABABA);
    font-size: 0.875rem;
}

input:focus {
    outline: none;
    border: none;
    color: #161719;
}

.link {
    text-decoration: none;
}

.cardContainer, .cardText {
    display: none;
}

@media (min-width: 768px) {
    .home {
        padding: 2rem;
    }
    .cardContainer {
        display: block;
        position: relative;
        border-radius: 0.625rem;
        background-image: url('/src/assets/images/card-home.png');
        background-size: cover;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
        margin: 0 2rem 2rem 2rem;
        margin-top: 0;
        height: 10rem;
        background-position: 50% 40%;
    }
    .cardText {
        display: block;
        position: absolute;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem; /* 100% */
        letter-spacing: 0.03988rem;
        z-index: 1;
        left: 2rem;
        top: 2rem;
    }
    .titulo {
        color: var(--colors-default, #000);
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
        max-width: none;
    }
    
    .subtitulo {
        color: var(--colors-default, #000);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        letter-spacing: 0.0125rem;
    }
}

@media (min-width: 1025px) {
    .desktopBody {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
        width: 100vw;
        padding: 3rem;
        padding-top: 0;
    }
    .cardsContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .home {
        padding: 2rem;
    }
    .cardContainer {
        display: block;
        position: relative;
        border-radius: 0.625rem;
        background-image: url('/src/assets/images/card-home.png');
        background-size: cover;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
        margin: 0 2rem 2rem 2rem;
        margin-top: 0;
        height: 10rem;
        background-position: 50% 40%;
    }
    .cardText {
        display: block;
        position: absolute;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.75rem; /* 100% */
        letter-spacing: 0.03988rem;
        z-index: 1;
        left: 2rem;
        top: 2rem;
    }
    .titulo {
        color: var(--colors-default, #000);
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
        max-width: none;
    }
    
    .subtitulo {
        color: var(--colors-default, #000);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
        letter-spacing: 0.0125rem;
    }
}