.container {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
}

.filterContainer {
    display: flex;
    gap: 0.7rem;
    margin: 0 auto;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.applyButton {
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 1.25rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: none;
    background: #0ACF83;
}

.sheetTitle {
    color: #000;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem; 
}
.basicText {
    font-family: DM Sans;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.buttonsContainer {
    display: flex;
    gap: 1rem;
}

.clearButton {
    display: inline-block;
    font-family: DM Sans;
    padding: 0.4rem 0.8rem;
    border-radius: 0.625rem;
    background: none;
    color: #000;
    font-size: 0.875rem;
    border: 1px solid var(--colors-grey-dark-1, #7F7F7F);
}
.exitButton {
    background: none;
    border: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button {
    border-radius: 0.625rem;
    border: 1px solid var(--colors-grey, #BABABA);
    background: var(--colors-white, #FFF); 
    width: 100%;
    padding: 0.625rem 0.9375rem;
}