.flex {
    display: flex;
    border-radius: 0.625rem;
    border: 1px solid #BABABA;
    background: var(--colors-white, #FFF);
    padding: 1rem;
    gap: 0.75rem;
    position: relative;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 420px;
    margin: 0 auto;
}

.titulo {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
}

.errorFlex {
    display: flex;
    border-radius: 0.625rem;
    border: 2px solid rgb(228, 65, 65);
    background: var(--colors-white, #FFF);
    padding: 1rem;
    gap: 0.75rem;
    position: relative;
}


.errorInput {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    border: none;
    color: rgb(228, 65, 65);
}

.errorInput + .input:focus {
    outline: none;
    border: none;
    color: rgb(228, 65, 65);
}

.spanPasswordSignIn {
    display: inline-block !important;
    color:red;
    font-size: .75rem;
}

.spanEmailSignIn {
    display: inline-block !important;
    color:red;
    font-size: .75rem;
    border: none;
}

.spanPasswordSignUp {
    display: inline-block !important;
    color:red;
    font-size: .75rem;
}

.spanEmailSignUp {
    display: inline-block !important;
    color:red;
    font-size: .75rem;
    border: none;
}

.input:focus {
    outline: none;
    border: none;
    color: #161719;
}

.signButton {
    color: white;
    width: 100%;
    font-size: 1rem;
    padding: 1.25rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: none;
    background: #0ACF83;
}

.input {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    border: none;
    color: #BABABA;
}

.forgot {
    text-decoration: none;
    color: var(--colors-white, #FFF);
    font-family: DM Sans;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem; 
}

.signTitle {
    display: none;
}

@media (min-width: 768px) {
    .input::placeholder {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .signTitle {
        display: block;
        font-size: 2.5rem;
        text-align: left;
        line-height: 1.9375rem;
        letter-spacing: 0.03988rem;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 522px;
        margin: 0;
        grid-column: 2;
    }
    .forgot {
        text-decoration: none;
        color: #1F2523; 
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.25rem; 
        text-align: start;
    }
    .spanPasswordSignIn, .spanEmailSignUp, .spanEmailSignIn, .spanPasswordSignUp {
        font-size: .95rem;
    }
    
}