.carousel {
    cursor: grab;
    overflow: hidden;
    padding: 0 1.5rem;
}

.inner {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    .carousel {
        padding: 0 2rem;
    }    
}