.carousel {
    margin-left: 1.5rem;
    cursor: grab;
    overflow: hidden;
}

.inner {
    display: flex;
    gap: 1rem;
    max-width: fit-content;
}

.link{
    text-decoration: none;
}

@media (min-width: 768px) {
    .carousel {
        margin-left: 2rem;
    }
}

