.container {
    display: grid;
    grid-template-columns: auto 2fr auto;
    gap: 0.9375rem;
    min-width: 21rem;
}
.header {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: #F6F6F6;
    max-width: 4.55rem;
    max-height: 4.55rem;
}

.imgContainer img {
    max-width: 100%;
    max-height: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    /* gap: 1rem;   */
    min-width: 12rem;
    justify-content: space-between;
}

.more {
    max-width: 100%;
    align-self:flex-end ;
}

.reviewsContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between;

}

.reviews {
    display: flex;
    gap: .5rem;
}

.title {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}

.price {
    color: #000;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.0125rem;
}

.stars {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
}

.review {
    color: #000;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
}